*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
     
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #212121;
}
.logo{
    width: 60px;
    height: 60px;
}
header{
    height: 80px;
    background: #17131a;
    display: flex;
    align-items: center;
}
nav{
    margin: auto;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
nav ul a{
    text-decoration: none;
    color: #b3a3df ;
    font-weight: bold;

} 

nav ul a:hover{
    color: red;
}
#name0{
color:orange;
}

.detel{
    margin-left: 8% ;
    margin-top: 13%;
}
.detel h1{
    font-size: 50px;
    margin-bottom: 20px;
}

span{
    color: orange;
}

.detel p{
    color: #555;
    line-height: 22px;
}

  .detel a{
       background: black;
       padding: 10px 18px;
       text-decoration: none;
       font-weight: bold;
       color: #fff;
       display: inline-block;
       margin: 30px 0;
       border-radius: 5px;
  }
 
.boy{
    /* flex-wrap: wrap;
    display: flex; */
    height: 400px;
    width: 300px;
    margin-left: 60%;
    margin-top: -27%;
}
  /* .images{
    width: 45%;
    height: 805;
    position: absolute;
    bottom: 0;
    right: 100px;
  }

  .images{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
  } */

  /* .images:hover .shape{
    bottom: 40px;
  } */
  /* .images:hover .boy{
    left: 45%;
  }
 */




